@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Fira Sans", serif;
    background-color: #F1F1F3;
}

section p ,time {
    color: #808080;
}

section p {
    font-size: 18px;
}

.nav{

    display: flex;
    width: 1200px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    
}

.head {
    font-size: 25px;
}

.head-btn {
    border: 1px solid #006A50;
    color: #006A50;
    /* background-color: white; */
    font-size: 15px;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 8px;
}

.first-section {
    display: flex;
    align-items: center;
    margin: 30px auto;
    padding: 30px;
    background-color: #C6E4D6;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    height: 500px;
    border-radius: 24px;
}

.title1 {
    font-size: 24px;
    color: #6f9685;
    margin-bottom: 0px;
}

.title2 {
    font-size: 56px;
    font-weight: bold;
    margin: 20px 0px;
}

.btn1 {
    font-size: 19px;
    border-radius: 8px;
    color: white;
    padding: 17px 34px;
    background-color: #006A50;
    margin-top: 0px;
    font-weight: bold;
    border: none;
}

.container {
    width: 1200px;
    margin: 50px auto;
    /* padding: 20px; */


}

.container h1 {
    font-size: 40px;
}

.box-list{
    text-align: justify;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.box {
    width: 340px;
    height: 260px;
    padding: 20px;
    border-radius: 16px;
}

.box1{
    background-color: #D5E1F5;

}
.box2{
    background-color: #C6E4D6;
}
.box3{
    background-color: #f7ebcf;
}

.btn {
    font-size: 16px;
    font-weight: 700px;
    border-radius: 8px;
    color: white;
    padding: 11px 22px;
    margin-top: 0px;
    border: none;
}

.button2 {

    background-color: #5490F5;
}
.button3 {

    background-color: #09A15C;
}
.button4 {
    background-color: #FFC239;
}

.img-time {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.boxnews {
    display: flex;
    gap: 40px;
    padding: 50px;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin: 30px 0px;


}
#news {
    width: 1200px;
    margin: 50px auto;
}

.img1 {
    border-radius: 24px;
}
#news > h1 {
    font-size: 40px;
}


.box-h1 {
    color: #0E0E0E;
    margin-bottom: 5px;
}

.donate-box h1 {
    font-size: 40px;

}

.taka-box {
    width: 240px;
    height: 128px;
    background-color: #FFFFFF;
    border-radius: 16px;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.box-list {
    display: flex;
    margin-bottom: 5px;
    
}

.donate {
    width: 1200px;
    margin: 10px auto;
    text-align: center;
}

.text {
    width: 1200px;
    height: 64px;
    text-align: center;
    font-size: 20px;
    background-color: FFFFFF;
    border: none;
    margin: 0px 0px 20px 0px;
}

.box-color {
    background-color: #C6E4D6;
}

#newsletter {
    background-color: #C6E4D6;
    width: 1200px;
    height: 400px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
}

.email-field {
    display: flex;
    width: 600px;
    overflow: hidden; 
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding: 20px;
}

.efield {
    border: none;
    padding: 17px 34px;
    font-size: 19px;
    border-radius: 8px 0 0 8px;
    width: 1000px;
}

.ebtn{
    font-size: 19px;
    border-radius: 0px 8px 8px 0px;
    color: white;
    padding: 17px 34px;
    background-color: #006A50;
    margin-top: 0px;
    font-weight: bold;
    border: none;
}

#newsletter h1 {
    font-size: 40px;
}
button:hover{
    background-color: gray;
}

.card:hover{
    background-color: rgb(178, 212, 177);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.box:hover{
    width: 300px;
    height: 300px;
    transition: width 2s, height 2s, transform 2s;
    transform: rotate(360deg);
}